@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


.container {
	height: 90vh;
	 font-family: 'Oswald',sans-serif;
}

.desc {
	margin: 10vh 5vh 14vh 10vw;
	height: 70vh;
	width: 40vw;
	background: linear-gradient(to bottom right, rgb(59, 59, 59),
		rgb(52, 52, 52), rgb(123, 123, 123), rgb(154, 153, 153));
	border-radius: 20px;
	padding: 2vw;
	color: rgb(212, 208, 208);
	border: 1px white;
	box-shadow: 8px 8px 8px rgb(34, 32, 32);
}

.heading {
	font-family: 'Oswald', sans-serif;
	font-size: larger;
	color: rgb(227, 38, 38);
}

.img {
	width: 25vw;
	margin-top: 20vh;
	margin-left: 10vw;
	border-radius: 100%;
}

.desc div p {
	background-color: greenyellow;
	color: black;
	padding: 4px 7px;
	border-radius: 10px;
	transition: 0.8s;
}

.desc div p:hover {
	background-color: rgb(35, 35, 34);
	color: rgb(80, 218, 26);
}

hr {
	background: red;
	margin-top: 2px;
}

.mentor-img {
	border-radius: 100%;
	box-shadow: 8px 8px 8px 8px rgb(95, 74, 74);
}

div p, div p p, h3, div ul li {
	margin: 0 6vw 0 6vw;
}


/**

*The DG Computer Classes project, including all associated code and materials, has been developed by Devendra R. Gonde.
*All rights are reserved for this project.
*This comprehensive project aims to revolutionize computer education by providing high-quality learning resources and
 interactive experiences to students at DG Computer Classes. It encompasses a range of educational materials,
 including [describe the types of materials, such as lesson plans, tutorials, software tools, etc.], designed to
 empower learners with the knowledge and skills needed to excel in the field of computer science.
*For inquiries or support related to the DG Computer Classes project, please contact:
*Name: Devendra R. Gonde
*Email: devendragonde1221@gmail.com

*/