<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://xmlns.jcp.org/xml/ns/javaee" xmlns:web="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee http://xmlns.jcp.org/xml/ns/javaee https://xmlns.jcp.org/xml/ns/javaee https://javaee.github.io/xml/ns/javaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>DGClasses</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>JSTL</servlet-name>
    <servlet-class>com.temp.JSTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSTL</servlet-name>
    <url-pattern>/JSTL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLogin</display-name>
    <servlet-name>GetLogin</servlet-name>
    <servlet-class>com.servlet.GetLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLogin</servlet-name>
    <url-pattern>/GetLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNewAccount</display-name>
    <servlet-name>CreateNewAccount</servlet-name>
    <servlet-class>com.servlet.CreateNewAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewAccount</servlet-name>
    <url-pattern>/CreateNewAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyOtp</display-name>
    <servlet-name>VerifyOtp</servlet-name>
    <servlet-class>com.servlet.VerifyOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOtp</servlet-name>
    <url-pattern>/VerifyOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Prod</display-name>
    <servlet-name>Prod</servlet-name>
    <servlet-class>com.servlet.Prod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prod</servlet-name>
    <url-pattern>/Prod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseSelector</display-name>
    <servlet-name>CourseSelector</servlet-name>
    <servlet-class>com.servlet.CourseSelector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseSelector</servlet-name>
    <url-pattern>/CourseSelector</url-pattern>
  </servlet-mapping>
</web-app>